<div class="container">
  <div class="content">
    <h1 align="center">TAREAS</h1>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="nuevaTarea()">
      Nueva Tarea
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z10">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ESTA ES LA COLUMNA DE ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID TAREA</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- ESTA ES LA COLUMNA DE NOMBRE TAREA -->
    <ng-container matColumnDef="tarea">
      <th mat-header-cell *matHeaderCellDef>NOMBRE TAREA</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>
    <!-- ESTA ES LA COLUMNA DE TIEMPO ESTIMADO -->
    <ng-container matColumnDef="tiempo">
      <th mat-header-cell *matHeaderCellDef>TIEMPO ESTIMADO</th>
      <td mat-cell *matCellDef="let element">{{ element.tiempo }}</td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef>ELIMINAR</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="warn"
          (click)="borrarTarea(element.id)"
        >
          Borrar
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="accion2">
      <th mat-header-cell *matHeaderCellDef>EDITAR</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="primary"
          (click)="editarTarea(element.id)"
        >
          Editar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
